/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  width: 100%;
  flex: 0 0 auto;
  align-self: flex-end;
  border-top: 1px solid #bbb;
  text-align: center;
}

.blockFooter {
  width: 100%;
  flex: 0 0 auto;
  align-self: flex-end;
  border-top: 1px solid #bbb;
  text-align: center;
}

.fullHeight {
  height: 100%;
}
